h2{
    color: red;
}
#h2{
    color: aqua;
}



.country{
    border: 3px solid gray;
    width: 400px;
}

button{
    background-color: rgb(8, 8, 139);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#span{
    color: rgb(20, 235, 199);
}
#inpt{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
#btn{
    border: none;
}

#hide{
    display: none;
}
